__pycache__/
.ipynb_checkpoints/
Data/
问题.md
指标.md
sketch.ipynb
token.txt
布林拐头1号-数据对齐-多股.ipynb
海龟ATR仓位管理_沪深300.ipynb
海龟ATR仓位管理_沪深当月.ipynb
基本面选股.ipynb
散户反买.ipynb
综合1号-多股.ipynb
综合1号-多股胜率.ipynb
综合1号-个股胜率.ipynb
alpha191复现.ipynb
download_sep.py
download.py
MACD.ipynb
机器学习/
时间序列/
使用Backtrader前的代码/
研报复现/
Backtrader学习笔记/
[on work]综合1号.ipynb